{{ $title := .title }}
{{ $entries := .entries }}


<div>
  <h4 class="mb-8" id="{{ $title }}">{{ $title  }}</h4>

  <div class="space-y-8">
    {{ range $entries }}
      <a
        href="{{ .RelPermalink }}"
        class="text-h6 hover:font-semibold transition duration-300 group flex items-center">
        <span>{{ .Title | truncate 70 }}</span>
        <i
          class="fa-regular fa-arrow-right opacity-0! group-hover:opacity-100! group-hover:translate-x-2.5! transition duration-300 inline-block mt-1"></i>
      </a>
    {{ end }}
  </div>
</div>
