{{ define "main" }}
  {{ $essays := .RegularPages }}
  {{ $grouped := dict }}

  {{ range $essays }}
    {{ $year := dateFormat "2006" .Params.publishdate }}
    {{ $monthYear := dateFormat "January 2006" .Params.publishdate }}

{{ if not (isset $grouped $year) }}
{{ $grouped = merge $grouped (dict $year dict) }}
{{ end }}

{{ $yearData := index $grouped $year }}

{{ if not (isset $yearData $monthYear) }}
{{ $yearData = merge $yearData (dict $monthYear slice) }}
{{ $grouped = merge $grouped (dict $year $yearData) }}
{{ end }}

{{ $monthData := index $yearData $monthYear | append . }}
{{ $yearData = merge $yearData (dict $monthYear $monthData) }}
{{ $grouped = merge $grouped (dict $year $yearData) }}
{{ end }}

  {{/* INFORMATION FOR FILTERING */}}
  {{ $uniqueCategories := slice }}
  {{ range $essays }}
    {{ $uniqueCategories = union $uniqueCategories .Params.categories }}
  {{ end }}

  {{ $uniqueStatus := slice }}
  {{ range $essays }}
    {{ if .Params.status }}
      {{ $uniqueStatus = $uniqueStatus | append .Params.status | uniq }}
    {{ end }}
  {{ end }}

  {{ $uniqueImportance := slice }}
  {{ range $essays }}
    {{ $uniqueImportance = $uniqueImportance | append .Params.importance | uniq }}
  {{ end }}

  {{ $uniqueCertainty := slice }}
  {{ range $essays }}
    {{ $uniqueCertainty = $uniqueCertainty | append .Params.certainty | uniq }}
  {{ end }}

  {{/* END INFORMATION FOR FILTERING */}}

  {{ partial "partials/page-header.html" . }}


  <section class="section border-border border-b">
    <div class="container">
      <h2 class="mb-6">{{ .Title }}</h2>
      <p class="text-xl font-medium">{{ .Params.description }}</p>

      <!-- FILTER SECTION -->
      <div
        class="mt-10 flex flex-col md:flex-row gap-6 md:gap-10 md:items-center">
        <h6>{{ T "filter" }}:</h6>
        <div class="flex gap-4 flex-wrap">
          <select
            id="statusFilter"
            class="filter-dropdown rounded-md w-[180px]">
            <option value="">All Status</option>
            {{ range $uniqueStatus }}
              <option value="{{ . }}">{{ . }}</option>
            {{ end }}
          </select>
          <select
            id="categoryFilter"
            class="filter-dropdown rounded-md w-[180px]">
            <option value="">All Categories</option>
            {{ range $uniqueCategories }}
              <option value="{{ . }}">{{ . }}</option>
            {{ end }}
          </select>
          <select
            id="certaintyFilter"
            class="filter-dropdown rounded-md w-[180px]">
            <option value="">All Certainty</option>
            {{ range $uniqueCertainty }}
              <option value="{{ . }}">{{ . }}</option>
            {{ end }}
          </select>
          <select
            id="importanceFilter"
            class="filter-dropdown rounded-md w-[180px]">
            <option value="">All Importance</option>
            {{ range $uniqueImportance }}
              <option value="{{ . }}">{{ . }}</option>
            {{ end }}
          </select>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      {{ range $year, $months := $grouped }}
        <h2 id="{{ $year }}" class="text-h3 font-bold mt-8">
          {{ $year }}
        </h2>
        <div
          class="grouped-entries bg-dark grid gap-[1px] grid-cols-1 py-[1px] mt-12 max-w-max w-[99%] overflow-hidden w-full">
          {{ range $monthYear, $entries := $months }}
            <div class="month-group" data-month="{{ $monthYear }}">
              {{ partial "components/grouped-card-list.html" (dict "title" $monthYear "entries" $entries) }}
            </div>
          {{ end }}
        </div>
      </div>

      {{/* essays */}}
      <div class="lg:col-10">
        <div class="lg:pl-20 w-full">

          {{ range $year, $months := $grouped }}
          <div class="mb-20">
            <h3 id="{{ $year }}" class="text-h3 font-bold mb-6">
              {{ $year }}
            </h3>

            <div class="grid md:grid-cols-2 mt-6">
              {{ $count := 0 }}
              {{ range $monthYear, $entries := $months }}
              {{ $isLeftItem := eq (mod $count 2) 0 }}
              {{ $addTopBorderTransparent := ge $count 2 }}

              <div class="border md:border-border border-x-transparent md:p-6 py-6
                  {{ if $isLeftItem }}md:pl-0 md:border-x-transparent{{ else }}md:border-r-transparent md:pr-0{{ end }}
                  {{ if $addTopBorderTransparent }} border-t-transparent!{{ end }}">

                {{ partial "components/grouped-card-list.html" (dict "title" $monthYear "entries" $entries) }}
              </div>
              {{ $count = add $count 1 }}
              {{ end }}
            </div>


          </div>
          {{ end }}

        </div>



      </div>
    </div>
  </section>

  <script>
    {{ $allCherryPickedEssaysFields := slice }}
    {{ range $essays }}
      {{ $allCherryPickedEssaysFields = $allCherryPickedEssaysFields | append (dict
        "title" .Title
        "permalink" .Permalink
        "published_date" .Params.publishdate
        "categories" .Params.categories
        "status" .Params.status
        "certainty" .Params.certainty
        "importance" .Params.importance
      ) }}
    {{ end }}
    const essays = {{ $allCherryPickedEssaysFields | jsonify }};
    console.log('🪲 :', essays);

    let selectedFilters = new Map();
    document.addEventListener("DOMContentLoaded", function () {
      const filters = document.querySelectorAll(".filter-dropdown");

      filters.forEach((filter) => {
        filter.addEventListener("change", applyFilters);
      });

      function applyFilters(e) {
        selectedFilters.set(e.target.id, e.target.value);

        console.log("🪲 :", selectedFilters);
      }
    });
  </script>
{{ end }}
