{{ define "main" }}
  {{ $essays := .RegularPages }}
  {{ $grouped := dict }}

  {{ range $essays }}
    {{ $year := dateFormat "2006" .Params.publishdate }}
    {{ $monthYear := dateFormat "2006-01 January 2006" .Params.publishdate }}


    {{ if not (isset $grouped $year) }}
      {{ $grouped = merge $grouped (dict $year dict) }}
    {{ end }}

    {{ $yearData := index $grouped $year }}

    {{ if not (isset $yearData $monthYear) }}
      {{ $yearData = merge $yearData (dict $monthYear slice) }}
      {{ $grouped = merge $grouped (dict $year $yearData) }}
    {{ end }}

    {{ $monthData := index $yearData $monthYear | append . }}
    {{ $yearData = merge $yearData (dict $monthYear $monthData) }}
    {{ $grouped = merge $grouped (dict $year $yearData) }}
  {{ end }}
  

  {{/* INFORMATION FOR FILTERING */}}
  {{ $uniqueCategories := slice }}
  {{ range $essays }}
    {{ $uniqueCategories = union $uniqueCategories .Params.categories | uniq}}
  {{ end }}

  {{ $uniqueStatus := slice }}
  {{ range $essays }}
    {{ if .Params.status }}
      {{ $uniqueStatus = $uniqueStatus | append .Params.status.value | uniq }}
    {{ end }}
  {{ end }}

  {{ $uniqueImportance := slice }}
  {{ range $essays }}
    {{ $uniqueImportance = $uniqueImportance | append (printf "%d" .Params.importance.value) | uniq | sort }}
  {{ end }}

  {{ $uniqueCertainty := slice }}
  {{ range $essays }}
    {{ $uniqueCertainty = $uniqueCertainty | append .Params.certainty.value | uniq }}
  {{ end }}

  {{/* END INFORMATION FOR FILTERING */}}


  <section class="section border-border border-b">
    <div class="container">
      <h2 class="mb-6">{{ .Title }}</h2>
      <p class="text-xl font-medium">{{ .Params.description }}</p>
      <!-- filter -->
      <div
        class="mt-10 flex flex-col md:flex-row gap-6 md:gap-10 md:items-center">
        <h6>{{ T "filter" }}:</h6>

        <div class="flex gap-4 flex-wrap">
          <select
            id="status"
            class="filter-dropdown rounded-md w-[180px]">
            <option value="all">All Status</option>
            {{ range $uniqueStatus }}
              <option value="{{ . }}">{{ . }}</option>
            {{ end }}
          </select>
          <select
            id="category"
            class="filter-dropdown rounded-md w-[180px]">
            <option value="all">All Categories</option>
            {{ range $uniqueCategories }}
              <option value="{{ . }}">{{ . }}</option>
            {{ end }}
          </select>
          <select
            id="certainty"
            class="filter-dropdown rounded-md w-[180px]">
            <option value="all">All Certainty</option>
            {{ range $uniqueCertainty }}
              <option value="{{ . }}">{{ . }}</option>
            {{ end }}
          </select>
          <select
            id="importance"
            class="filter-dropdown rounded-md w-[180px]">
            <option value="all">All Importance</option>
            {{ range $uniqueImportance }}
              <option value="{{ . }}">{{ . }}</option>
            {{ end }}
          </select>
        </div>
      </div>
    </div>
  </section>

  {{/*  eassys  */}}
  <section class="section">
    <div class="container">
      <div class="row">
        {{/* sidebar */}}
        <div class="lg:col-2 hidden lg:flex flex-col" >
          <div class="md:sticky md:top-10 md:h-[calc(100vh-100px)] md:overflow-y-scroll tag-scrollable">
          <div class="bg-light py-6 px-4 rounded-lg" id="sidebar">
            {{ range $year, $months := $grouped }}
              <a class="text-h5 font-semibold" href="#{{ $year }}"
                >{{ $year }}</a
              >

              <div class="flex flex-col gap-2 my-3 pl-3">
                {{ range $monthYear, $entries := $months }}
                  <a href="#{{ $monthYear }}" class="text-text-dark">
                    {{ $monthYear }}
                  </a>
                {{ end }}
              </div>
            {{ end }}
          </div>
        </div>
        </div>

        {{/* essays */}}
        <div class="lg:col-10">
          <div class="lg:pl-20 w-full" id="essays-container">
            {{ range $year, $months := $grouped }}
              <div class="mb-20">
                <h3 id="{{ $year }}" class="text-h3 font-bold mb-6">
                  {{ $year }}
                </h3>

                <div class="grid md:grid-cols-2 mt-6">
                  {{ $count := 0 }}
                  {{ range $monthYear, $entries := $months }}
                    {{ $isLeftItem := eq (mod $count 2) 0 }}
                    {{ $addTopBorderTransparent := ge $count 2 }}


                    <div
                      class="border md:border-border border-x-transparent md:p-6 py-6
                  {{ if $isLeftItem }}
                        md:pl-0 md:border-x-transparent
                      {{ else }}
                        md:border-r-transparent md:pr-0
                      {{ end }}
                  {{ if $addTopBorderTransparent }}
                        border-t-transparent!
                      {{ end }}
                      ">
                      {{ partial "components/grouped-card-list.html" (dict "title" $monthYear "entries" $entries) }}
                    </div>
                    {{ $count = add $count 1 }}
                  {{ end }}
                </div>
              </div>
            {{ end }}

          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Feedback -->
{{ partial "components/feedback" }}
<!-- Feedback -->

<script>
  {{/*  ALl DOM  */}}
  const sidebar = document.getElementById('sidebar')
  const essaysContainer = document.getElementById('essays-container')
  const statusFilter = document.getElementById('status')
  const certaintyFilter = document.getElementById('certainty')
  const importanceFilter = document.getElementById('importance')
  const categoryFilter = document.getElementById('category')



  {{/*  Fetchable Essays  */}}
  let fetachableEssys = []
  {{ $allPosts := $grouped | jsonify }}
  {{ range  $year, $months := $grouped }}
  mainOBJ = {
      year: '',
      postByMonths: []
  }
  mainOBJ.year = {{ $year }}

  {{ range $monthYear, $entries := $months }}
    postByMonthOBJ = {
      month: '',
      posts: []
    }
    postByMonthOBJ.month = "{{ $monthYear }}"
      {{ range $entries }}
      obj = {
          title: '{{ .Title }}',
          permalink: '{{ .Permalink }}',
          params:JSON.parse('{{ .Params | jsonify }}'),
        }
        postByMonthOBJ.posts.push(obj)
      {{ end }}
    mainOBJ.postByMonths.push(postByMonthOBJ)
    {{ end }}
  fetachableEssys.push(mainOBJ)
  {{ end }}




{{/*  Update Sidebar  */}}
function upateSidebar (posts){
  let sidebarHTML = ''
  if(posts.length === 0){
    sidebar.innerHTML = `<p class="text-h6">No posts found</p>`
    return
  }
  posts.reverse()
  posts.reverse().forEach((item)=>{
    sidebarHTML += `<a class="text-h5 font-semibold" href="#${item.year}">${item.year}</a>`
    sidebarHTML += `<div class="flex flex-col gap-2 my-3 pl-3">`
    item.postByMonths.forEach((month)=>{
      sidebarHTML += `<a href="#${month.month.slice(8)}" class="text-text-dark">${month.month.slice(8)}</a>`
    })
    sidebarHTML += `</div>`
  })
  sidebar.innerHTML = sidebarHTML}

function updateEssaysContainer(posts) {
   let essaysContainerHTML = ''
  if(posts.length === 0){
    essaysContainer.innerHTML = `<p class="text-h6">No posts found</p>`
    return
  }
   posts.reverse().forEach((item)=>{
      essaysContainerHTML += `<div class="mb-20">`
      essaysContainerHTML += `<h3 id="${item.year}" class="text-h3 font-bold mb-6">${item.year}</h3>`
      essaysContainerHTML += `<div class="grid ${item.postByMonths.length % 2 === 0 ? 'md:grid-cols-2' : 'md:grid-cols-1'} mt-6">`
      
      item.postByMonths.forEach((month, number)=>{
          essaysContainerHTML += `<div class="border md:border-border border-x-transparent md:p-6 py-6
               ${number % 2 === 0 ? 'md:pl-0 md:border-x-transparent' : 'md:border-r-transparent md:pr-0'}
                ${number >= 2 ? 'border-t-transparent!' : ''}">`
          essaysContainerHTML += `<h3 class="text-h4 font-semibold mb-4" id="${month.month.slice(8)}">${month.month.slice(8)}</h3>`
          month.posts.forEach((post)=>{
              essaysContainerHTML += `<div class="mb-6">`
              essaysContainerHTML += ` <a href="${post.permalink}"
                    class="text-h6 hover:font-semibold transition duration-300 group flex items-center">
                    <span>${post.title.substring(0, 70)}</span>
                    <i class="fa-regular fa-arrow-right opacity-0! group-hover:opacity-100! group-hover:translate-x-2.5! transition duration-300 inline-block mt-1"></i>
                  </a>`
              essaysContainerHTML += `</div>`
          })
          essaysContainerHTML += `</div>`
      })
      essaysContainerHTML += `</div>`
      essaysContainerHTML += `</div>`
  })
  essaysContainer.innerHTML = essaysContainerHTML
}


function filterEssays() {
    let currentFilteredPosts = JSON.parse(JSON.stringify(fetachableEssys)); // Create a fresh copy

    const statusValue = statusFilter.value || "all";
    const certaintyValue = certaintyFilter.value || "all";
    const importanceValue = importanceFilter.value || "all";
    const categoryValue = categoryFilter.value || "all";

    const filters = [
        { id: "status", value: statusValue },
        { id: "certainty", value: certaintyValue },
        { id: "importance", value: importanceValue },
        { id: "category", value: categoryValue },
    ];

        filters.forEach((filter) => {
          if (filter.value !== "all") {
              currentFilteredPosts = currentFilteredPosts.map((year) => ({
                  ...year,
                  postByMonths: year.postByMonths
                      .map((month) => ({
                          ...month,
                          posts: month.posts.filter(
                              (post) => filter.id === "category"? post.params.categories.includes(filter.value): post.params[filter.id].value == filter.value
                          ),
                      }))
                      .filter((month) => month.posts.length > 0),
              })).filter((year) => year.postByMonths.length > 0);
          }
      });

    

    updateEssaysContainer(currentFilteredPosts);
    upateSidebar(currentFilteredPosts)
}

statusFilter.addEventListener("change", filterEssays);
certaintyFilter.addEventListener("change", filterEssays);
importanceFilter.addEventListener("change", filterEssays);
categoryFilter.addEventListener("change", filterEssays);

updateEssaysContainer(fetachableEssys);
upateSidebar(fetachableEssys)


</script>
{{ end }}
