<footer class="bg-dark ">
  <div class="container pb-12 pt-20">
    <div class="flex flex-col md:flex-row gap-y-5 justify-between items-center">
     
      <div class="text-text-light">
        <ul>
          {{ range site.Menus.footer }}
            <li class="m-5 inline-block text-lg">
              <a
                {{ if findRE `^http` .URL }}
                  target="_blank" rel="noopener"
                {{ end }}
                href="{{ if findRE `^#` .URL }}
                  {{ if not $.IsHome }}
                    {{ site.Home.RelPermalink }}
                  {{ end }}{{ .URL }}
                {{ else }}
                  {{ .URL | relLangURL }}
                {{ end }}"
                >{{ .Name }}</a
              >
            </li>
          {{ end }}
        </ul>
      </div>
      <div>
        <ul class="social-icons text-white">
          {{ range site.Data.social.main }}
            <li>
              <a
                target="_blank"
                aria-label="{{ .name }}"
                rel="nofollow noopener"
                href="{{ .link | safeURL }}">
                <i class="{{ .icon }}"></i>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
    <div class="text-text-light  container text-center border-t border-border/20 pt-12 pb-20">
      <p>
        {{ site.Params.copyright | markdownify }}
      </p>
    </div>
 
</footer>
