/* section style */
.section {
  @apply py-26 xl:py-32;
}

.section-sm {
  @apply py-16 xl:py-20;
}

/* container */
.container {
  @apply mx-auto xl:!max-w-[1420px] px-4;
}

/* social icons */
.social-icons {
  @apply space-x-4;
}
.social-icons li {
  @apply inline-block;
}
.social-icons li a {
  @apply flex h-10 w-10 items-center justify-center text-center leading-9  text-xl;
}
.social-icons li a svg {
  @apply h-8 w-8;
}

/* content style */
.content {
  @apply prose max-w-none;
  @apply prose-headings:mb-[.3em] prose-headings:mt-[.6em] prose-headings:text-text-dark;
  @apply prose-h1:text-h1-sm;
  @apply prose-h2:text-h2-sm ;
  @apply prose-h3:text-h3-sm ;
  @apply prose-img:max-w-full prose-img:rounded;
  @apply prose-hr:border-border;
  @apply prose-p:text-lg prose-p:text-text;
  @apply prose-blockquote:rounded-lg prose-blockquote:border prose-blockquote:border-l-[10px] prose-blockquote:border-primary prose-blockquote:bg-light prose-blockquote:px-8 prose-blockquote:py-10 prose-blockquote:text-2xl prose-blockquote:not-italic prose-blockquote:text-text-dark;
  @apply prose-pre:rounded-lg prose-pre:bg-light;
  @apply prose-code:px-1;
  @apply prose-strong:text-text-dark;
  @apply prose-a:text-text prose-a:underline prose-a:hover:text-primary;
  @apply prose-li:text-text prose-li:text-base;
  @apply prose-table:relative prose-table:overflow-hidden prose-table:rounded-lg prose-table:before:absolute prose-table:before:left-0 prose-table:before:top-0 prose-table:before:h-full prose-table:before:w-full prose-table:before:rounded-[inherit] prose-table:before:border prose-table:before:content-[""];
  @apply prose-thead:border-border prose-thead:bg-light;
  @apply prose-th:relative prose-th:z-10 prose-th:px-4 prose-th:py-[18px] prose-th:text-text-dark;
  @apply prose-tr:border-border;
  @apply prose-td:relative prose-td:z-10 prose-td:px-3 prose-td:py-[18px];
}

.content .btn {
  @apply no-underline hover:!text-white;
}

.content h1,
.content h2 {
  @apply flex items-center font-bold text-gray-900;
}

.content h1::after,
.content h2::after {
  content: "";
  flex-grow: 1; /* Makes the divider take the remaining space */
  height: 5px; /* Total height for both lines */
  background: linear-gradient(
    to bottom,
    #8b9098 0%,
    #8b9098 40%,
    transparent 40%,
    transparent 60%,
    #8b9098 60%,
    #8b9098 100%
  );
  margin-left: 10px; /* Space between text and lines */
  display: inline-block;
  vertical-align: middle;
}

/* progress bar */
#progress-bar--container {
  display: flex;
  justify-content: center;
}

#progress-bar--container svg {
  width: 40px;
  transform: rotate(-90deg);
}

#progress--circle {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  stroke-linecap: round;
}

#meter--ranger {
  width: 100%;
}

#TableOfContents {
  padding: 0 !important;
}

/* table of contents */
.table-of-contents {
  line-height: 1.8;
}

.table-of-contents #TableOfContents ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.table-of-contents #TableOfContents > ol > li {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 4px !important;
  display: block;
  padding-left: 0;
}

.table-of-contents #TableOfContents > ol > li > ol > li {
  font-weight: 500;
  font-size: 16px !important;
  padding-left: 16px;
}

.table-of-contents #TableOfContents > ol > li > ol > li > ol > li {
  font-size: 14px;
  padding-left: 4px;
}
.table-of-contents #TableOfContents > ol > li > ol > li > ol > li > ol > li {
  font-size: 12px !important;
  padding-left: 4px !important;
}

.table-of-contents
  #TableOfContents
  > ol
  > li
  > ol
  > li
  > ol
  > li
  > ol
  > li
  > ol
  > li {
  font-size: 10px;
}

.table-of-contents
  #TableOfContents
  > ol
  > li
  > ol
  > li
  > ol
  > li
  > ol
  > li
  > ol
  > li
  > ol
  > li {
  font-size: 10px;
}


.custom.table-of-contents #TableOfContents a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 2px 0;
}

.table-of-contents #TableOfContents a:hover {
  text-decoration: none !important;
}

/* highlight heading */
.highlight-heading {
  @apply flex items-center font-bold text-gray-900;
}
.highlight-heading::after {
  content: "";
  flex-grow: 1;
  height: 5px;
  background: linear-gradient(
    to bottom,
    #8b9098 0%,
    #8b9098 40%,
    transparent 40%,
    transparent 60%,
    #8b9098 60%,
    #8b9098 100%
  );
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.highlight-heading::before {
  content: "";
  flex-grow: 1;
  height: 5px;
  background: linear-gradient(
    to bottom,
    #8b9098 0%,
    #8b9098 40%,
    transparent 40%,
    transparent 60%,
    #8b9098 60%,
    #8b9098 100%
  );
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

/* Custom Dropdown Menu */
.custom-dropdown {
  position: relative;
  width: 300px;
}

.dropdown-toggle {
  @apply p-2.5 border border-border rounded-lg cursor-pointer flex justify-between items-center bg-white;
}

.dropdown-menu {
  @apply absolute top-full left-0 w-full border border-border rounded-md bg-white shadow-sm z-10 hidden;
}

.dropdown-item {
  @apply hover:bg-light cursor-pointer py-2.5 px-4;
}



.custom-date-picker {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  justify-content: center;
  align-items: center;
}

.date-picker-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.date-input {
  @apply border border-border rounded-lg mb-1 w-full;
}

.date-picker-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.date-picker-actions button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.date-picker-actions button.cancel {
  @apply bg-light text-text-dark;
}

.date-picker-actions button.apply {
  @apply bg-primary text-white;
}
