/* navbar toggler */
input#nav-toggle:checked + label #show-button {
  @apply hidden;
}

input#nav-toggle:checked + label #hide-button {
  @apply block;
}

input#nav-toggle:checked ~ #nav-menu {
  @apply block;
}


/* swiper pagination */
.swiper-pagination-bullet {
  @apply !h-2.5 !w-2.5 !bg-light !opacity-100;
}

.swiper-pagination-bullet-active {
  @apply !h-4 !w-4 !bg-primary;
}

.tag-scrollable::-webkit-scrollbar {
  display: none;
}
.tag-scrollable {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tooltip-container{
  @apply  absolute top-0 right-0 transform translate-x-3 -translate-y-12 bg-light px-3 py-1 rounded hidden;
}
.tooltip-container::after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 20px;
  border-width: 8px;
  border-style: solid;
  border-color: #F4F5F6 transparent transparent transparent;
}

.category-box-1 {
  @apply border-b-transparent md:border-b! sm:border-b-gray-300;
}