{{ define "main" }}
<section class="section border-b border-border">
  <div class="container">
    <div class="row lg:flex-row flex-col-reverse justify-between gap-y-10">
      <div class="lg:col-7">
        <h2 class="mb-8">{{ .Title }}</h2>
        <div class="content prose-p:text-xl prose-p:font-medium">{{ .Params.description | markdownify }}</div>
      </div>
      <div class="lg:col-4">
        {{ partial "image" (dict "Src" .Params.image "Context" .Page "Alt" .Title "Class" "mx-auto" "Size" "350x375") }}
        <div class="flex justify-center mt-6">
          <ul class="flex gap-8 text-text-dark">
            {{ range .Params.social }}
            <li>
              <a target="_blank" aria-label="{{ .name }}" rel="nofollow noopener" href="{{ .link | safeURL }}">
                <i class="text-3xl {{ .icon }}"></i>
              </a>
            </li>
            {{ end }}
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

{{/* About Content */}}
<section class="section">
  <div class="container">
    <div class="row gap-y-8">
      <div class="lg:col-3 md:col-4">
        <div class="bg-light p-4 rounded-lg sticky top-0">
          <div class="table-of-contents">
            {{.TableOfContents}}
          </div>
        </div>
      </div>
      <div class="lg:col-6 md:col-8">
        <div class="content">
          {{ .Content }}
        </div>
      </div>
      <div class="lg:col-3">
        <div class="flex flex-col gap-y-6">
         {{/*  running  essays  */}}
          <div class="bg-light px-4 py-6 rounded-lg border border-border">
            <h6 class="text-lg font-semibold">Current Running Post</h6>
            {{ range first 4 (where site.RegularPages "Params.is_post_complete" false) }}
            <div class="flex items-center gap-4 mt-6">
              <div>
                <a href="{{ .RelPermalink }}" class="text-text-dark">{{ .Title }}</a>
              </div>
            </div>
            {{ end }}
          </div>

          {{/*  recent complete  essays  */}}
          <div class="bg-light px-4 py-6 rounded-lg border border-border">
            <h6 class="text-lg font-semibold">Recent Complete Post</h6>
            {{ range first 4 (where site.RegularPages "Params.is_post_complete" true) }}
            <div class="flex items-center gap-4 mt-6">
              <div>
                <a href="{{ .RelPermalink }}" class="text-text-dark">{{ .Title }}</a>
              </div>
            </div>
            {{ end }}
          </div>

        </div>
      </div>
    </div>
  </div>

</section>

<!-- Feedback -->
{{ partial "components/feedback" }}
<!-- Feedback -->
{{ end }}