{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
<section class="section border-b border-border">
  <div class="container">
    <div class="row">
      <div class="md:col-10  mb-8">
        <h1 class="mb-8 text-h3 lg:text-h1">
          {{ .title | markdownify }}
          <span class="font-medium! block">{{ .subtitle | markdownify }}</span>
        </h1>
        <div class="mb-14 content prose-p:text-xl!">
          {{ .content | markdownify }}
        </div>
        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary" href="{{ .link | absURL }}" {{ if strings.HasPrefix .link `http` }} target="_blank"
          rel="noopener" {{ end }}>
          {{ .label }}

        </a>
        {{ end }}
        {{ end }}
      </div>

    </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->

<!-- TIL -->
{{$allTil := slice}}
{{ with site.GetPage "til" }}
{{ $allTil = .RegularPages }}
{{ end }}
{{ if .Params.til.enable }}
<section class="section">
  <div class="container">
    <h2 class="prose-strong:font-medium!">{{ .Params.til.title | markdownify }}</h2>
 
    <div
      class="bg-dark grid gap-[1px] grid-cols-1  md:grid-cols-2 xl:grid-cols-3 py-[1px] mt-12 sm:max-w-max sm:w-[99%] sm:overflow-hidden sm:mx-auto">
      {{ range first 6 $allTil }}
      <div class="bg-white w-full">
        {{ partial "components/til-card" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- TIL -->

<!-- Favorite Topic -->
{{ if .Params.favorite_topic.enable }}
<section class="section">
  <div class="container">
    <h2 class="prose-strong:font-medium!">{{ .Params.favorite_topic.title | markdownify }}</h2>
    {{/*  a  */}}
    {{ $postByCategory := dict }}
    {{ $allPosts := slice }}
    
    {{ with site.GetPage "essays" }}
      {{ $allPosts = .RegularPages }}
    {{ end }}
    
    {{ range $allPosts }}
      {{ if .Params.homepage_featured }}
        {{$title := .Title}}
        {{$link := .RelPermalink}}
        {{ range .Params.categories }}
          {{ $category := . }}
          {{ $postData := dict "postTitle" $title "postURL" $link }}
          
          {{ if isset $postByCategory $category }}
            {{ $posts := index $postByCategory $category }}
            {{ $posts = $posts | append $postData }}
            {{ $postByCategory = merge $postByCategory (dict $category $posts) }}
          {{ else }}
            {{ $postByCategory = merge $postByCategory (dict $category (slice $postData)) }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
    
    <div class="mt-12 border-t border-border">
      {{ range $title, $posts := $postByCategory }}
        <div class="border-b border-border ">
          {{ partial "components/topic-card" (dict "title" $title "posts" $posts) }}
        </div>
      {{end}}
    </div>

  </div>
</section>
{{ end }}
<!-- Favorite Topic -->


<!-- Feedback -->
{{ partial "components/feedback" }}
<!-- Feedback -->


{{ end }}