{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
<section class="section border-b border-border">
  <div class="container">
    <div class="row">
      <div class="md:col-10  mb-8">
        <h1 class="mb-8 text-h3 lg:text-h1">
          {{ .title | markdownify }}
          <span class="font-medium! block">{{ .subtitle | markdownify }}</span>
        </h1>
        <div class="mb-14 content prose-p:text-xl!">
          {{ .content | markdownify }}
        </div>
        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary" href="{{ .link | absURL }}" {{ if strings.HasPrefix .link `http` }} target="_blank"
          rel="noopener" {{ end }}>
          {{ .label }}

        </a>
        {{ end }}
        {{ end }}
      </div>

    </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->

<!-- TIL -->
{{ if .Params.til.enable }}
<section class="section">
  <div class="container">
    <h2 class="prose-strong:font-medium!">{{ .Params.til.title | markdownify }}</h2>

    <div
      class="bg-dark grid gap-[1px] grid-cols-1 md:grid-cols-2 xl:grid-cols-3 py-[1px] mt-12 max-w-max w-[99%] overflow-hidden mx-auto">
      {{ range (seq 1 6) }}
      <div class="bg-white">
        {{ partial "components/til-card" }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
<!-- TIL -->

<!-- Favorite Topic -->
{{ if .Params.favorite_topic.enable }}
<section class="section">
  <div class="container">
    <h2 class="prose-strong:font-medium!">{{ .Params.favorite_topic.title | markdownify }}</h2>

    <div class="mt-12">
      {{ range (seq 1 4) }}
      <div class="border-b border-border {{ if eq . 1 }} border-t {{ end }}">
        {{ partial "components/topic-card" }}
      </div>
      {{end}}
    </div>
  </div>
</section>
{{ end }}
<!-- Favorite Topic -->


<!-- Feedback -->
{{ partial "components/feedback" }}
<!-- Feedback -->


{{ end }}